<div class="navbar navbar-expand navbar-dark bg-dark">
  <a [routerLink]="['/home']" class="navbar-brand ms-1" >
  <img width="60" alt="Logo" src="assets/logo/Logo.png"
    />
    Book Store
  </a>
  <div class="navbar-nav me-auto">
    <li class="nav-item">
      <a [routerLink]="['/admin']" routerLinkActive="active" class="nav-link">Admin</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/home']" routerLinkActive="active" class="nav-link">Home</a>
    </li>
  </div>

  <div class="navbar-nav ms-auto">
    <li class="nav-item">
      <a [routerLink]="['/login']" routerLinkActive="active" class="nav-link">Login</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/register']" routerLinkActive="active" class="nav-link">Register</a>
    </li>
  </div>

  <div class=""></div>
</div>


<router-outlet></router-outlet>
